<template>
  <div class="about">
    <h1>This is an about page</h1>
    <form action="" class="form">
    <div class="form-group">
      <input type="text" class="form-control" name="name" @change="onChange">
      <span class="error" if="hasError('name')">{{hasError('name')}}</span>  
    </div>
     <div class="form-group">
      <input type="email" class="form-control" name="email" @change="onChange">
      <span class="error" if="hasError('email')">{{hasError('email')}}</span>  
    </div>
     <div class="form-group">
      <input type="tel" class="form-control" name="phone" @change="onChange">
      <span class="error" if="hasError('phone')">{{hasError('phone')}}</span>  
    </div>
    </form>
  </div>

</template>
<script>
import {mapGetters} from 'vuex'
export default {
computed:{
  ...mapGetters(['hasError'])
},

  methods: {
    onChange(e) {
      let name = e.target.name,
        value = e.target.value;

      let data = {};
      data[name] = value;

      this.socket.send(JSON.stringify(data));
    },

    init() {
      const vm = this;
      this.socket = new WebSocket("ws://localhost:8999");

      this.socket.onopen = () => {
        console.log("open");
      };

      this.socket.onclose = function(event) {
        if (event.wasClean) {
          console.log("Соединение закрыто чисто");
        } else {
          console.log("Обрыв соединения"); // например, "убит" процесс сервера
        }
        console.log("Код: " + event.code + " причина: " + event.reason);
      };

      this.socket.onmessage = function(event) {
        console.log("Получены данные " + event.data);
        let data = JSON.parse(event.data);

        vm.$store.commit('ADD_ERROR', data);
      };
    }
  },

  mounted() {
    this.init();
  }
};
</script>
<style lang="scss">
.form{
  max-width: 300px;
  margin: auto;
}
.form-group{
  padding-bottom: 20px;
  position: relative;
}
.form-control{
  width: 100%;
padding: 6px 10px;
border: 1px solid lightblue;
border-radius: 10px; 
}
.error{
  color: red;
  font-size: 12px;
  position: absolute;
  bottom: 4px;
  display: block;
}
</style>
