<template>
    <div>
        <div class="home" ref="wrapper">
            <model class="model" v-bind="{parentHeight, videoSrc}"></model>
            <div style="height: 600px; background: tomato;"></div>
            <div style="height: 500px; background: lightseagreen;"></div>
        </div>
        <button @click.prevent="videoSrc = '/video.mp4'">
            video.mp4
        </button>
        <button @click.prevent="videoSrc = '/video1.mp4'">
            video1.mp4
        </button>
        <video ref="video"
               @timeupdate="onTimeupdate"
               src="/video.mp4"
        ></video>
    </div>
</template>

<script>
  import TweenLite from 'gsap'
  import Model from '../components/Model'

  export default {
    name: 'home',
    components: { Model },

    data () {
      return {
        parentHeight: 0,
        parentYPos: 0,
        videoSrc: '/video.mp4'
      }
    },

    methods: {
      onTimeupdate ({ target }) {
        console.log(target.currentTime)
      }
    },

    mounted () {
      const { wrapper } = this.$refs
      if (wrapper) {
        this.parentHeight = wrapper.clientHeight

        console.log(wrapper.getBoundingClientRect())
        console.log(window.pageYOffset)
      }
      this.$refs.video.playbackRate = 1
      const tween = { currentTime: 0 }

      // TweenLite.to(tween, 3, {
      //   delay: 2,
      //   currentTime: 5,
      //   ease: Power0.easeNone,
      //   onUpdate: (v) => {
      //     // console.log(tween.currentTime)
      //     this.$refs.video.currentTime = tween.currentTime
      //   }
      // })

    }

  }
</script>
