<template>
    <div>
        <div style="height: 500px; background: tomato;"></div>
        <div ref="wrapper" style="height: 3000px">
            <Model2 :parentHeight="parentHeight"
                    :holderYOffset="holderYOffset"
                    v-bind="{parentHeight,holderYOffset, aX, bX }"
                    class="model sticky"
                    :video-src="videoSrc"/>
        </div>
        <button @click="videoSrc = '/video.mp4'">
            video.mp4
        </button>
        <button @click="videoSrc = '/video1.mp4'">
            video1.mp4
        </button>
        <div style="background: aquamarine;height: 3000px;"></div>
    </div>
</template>

<script>
    import Model2 from '../components/Model2'


    export default {
        name: 'Model',

        components: { Model2 },

        data() {
            return {
                parentHeight: 0,
                holderYOffset: 0,
                videoSrc: '/video.mp4',

                aX: 300,
                bX: 100,
            }
        },

        mounted() {
            const { wrapper } = this.$refs
            if (wrapper) {
                this.parentHeight = wrapper.getBoundingClientRect().height
                this.holderYOffset = wrapper.getBoundingClientRect().top + window.pageYOffset
            }
        }
    }
</script>

<style lang="scss">
    .sticky {
        position: sticky;
        top: 0;
    }
</style>