<template>
    <div :style="modelStyle">
        <video @loadedmetadata="onLoadedmetadata"
               hidden
               :src="videoSrc"
        ></video>
        <canvas ref="canvas" class="model-item"
                :width="canvas.width"
                :height="canvas.height"></canvas>

        <canvas ref="buffer"
                hidden
                :width="buffer.width"
                :height="buffer.height"></canvas>

        <canvas ref="sprite"
                style="max-width: 100%;"
                hidden
                :width="sprite.width"
                :height="sprite.height"></canvas>

    </div>
</template>

<script>
    import debounce from 'lodash/debounce'

    const tweener = { position: 0 }

    const FRAMES_PER_SEC = 10

    export default {
        name: 'Model',

        props: {
            parentHeight: Number,
            holderYOffset: Number,
            aX: Number,
            bX: Number,
            videoSrc: String
        },

        data() {
            return {
                ratio: 0.05,
                frame: 0,
                isDisabled: true,

                windowYOffset: 0,
                speedKoef: 0,

                video: {
                    el: null,
                    duration: 0,
                    width: 0,
                    height: 0
                },

                canvas: {
                    ctx: null,
                    width: 0,
                    height: 0
                },

                buffer: {
                    ctx: null,
                    width: 0,
                    height: 0
                },

                sprite: {
                    ctx: null,
                    width: 0,
                    height: 0
                }
            }
        },

        computed: {
            currentFrame() {
                if (this.isDisabled) return 0

                let time = this.video.duration * this.currentPosition
                return (time < 0 ? 0 : time > (this.video.duration - this.ratio) ? (this.video.duration - this.ratio) : time) / this.ratio
            },

            currentPosition() {
                if (this.windowYOffset > this.holderYOffset && this.windowYOffset < (this.holderYOffset + this.scrollRange)) {
                    return (this.windowYOffset - this.holderYOffset) / this.scrollRange
                } else if (this.windowYOffset < this.holderYOffset) {
                    return 0
                } else {
                    return 1
                }
            },

            totalFrames() {
                return FRAMES_PER_SEC * this.video.duration
            },

            scrollRange() {
                return this.parentHeight - this.video.height
            },

            modelStyle() {
                return {
                    transform: `translate(${this.aX - (this.aX - this.bX) / 49 * this.frame}px)`
                }
            }
        },

        methods: {
            init() {
                const { canvas, buffer, sprite } = this.$refs

                this.canvas.ctx = canvas.getContext('2d')
                this.buffer.ctx = buffer.getContext('2d')
                this.sprite.ctx = sprite.getContext('2d')
            },

            getPageYOffset() {
                this.windowYOffset = window.pageYOffset
            },

            onLoadedmetadata({ target }) {
                this.isDisabled = true

                this.ratio = 1 / FRAMES_PER_SEC

                this.video.el = target
                this.video.duration = target.duration
                this.video.width = target.videoWidth
                this.video.height = target.videoHeight

                this.sprite.width = target.videoWidth / 2 * FRAMES_PER_SEC
                this.sprite.height = target.videoHeight * Math.ceil(this.video.duration)

                this.buffer.width = target.videoWidth
                this.buffer.height = target.videoHeight

                this.canvas.width = target.videoWidth / 2
                this.canvas.height = target.videoHeight

                execute(this.createSprite(), () => {
                    console.timeEnd()
                    this.isDisabled = false
                })
            },

            computeFrame() {
                let x = this.frame % FRAMES_PER_SEC
                let y = Math.floor(this.frame / FRAMES_PER_SEC)

                let frame = this.sprite.ctx.getImageData(x * this.video.width / 2, y * this.video.height, this.video.width / 2, this.video.height)

                this.canvas.ctx.clearRect(0, 0, this.canvas.width, this.canvas.height)
                this.canvas.ctx.putImageData(frame, 0, 0, 0, 0, this.video.width / 2, this.video.height)
            },

            * createSprite() {
                const vm = this
                let k = -1 // row start

                for (let i = 0; i < vm.totalFrames; i++) {
                    yield new Promise(resolve => {
                        vm.video.el.addEventListener('seeked', seeked, false)

                        function seeked() {
                            vm.video.el.removeEventListener('seeked', seeked)

                            vm.buffer.ctx.clearRect(0, 0, vm.video.width, vm.video.height)
                            vm.buffer.ctx.drawImage(vm.video.el, 0, 0)

                            let image = vm.buffer.ctx.getImageData(0, 0, vm.video.width / 2, vm.video.height),
                                alpha = vm.buffer.ctx.getImageData(vm.video.width / 2 + 1, 0, vm.video.width / 2, vm.video.height)

                            for (let i = 3, len = image.data.length; i < len; i = i + 4) {
                                image.data[ i ] = alpha.data[ i - 1 ]
                            }
                            vm.sprite.ctx.putImageData(image, i % FRAMES_PER_SEC * vm.video.width / 2, k * vm.video.height, 0, 0, vm.video.width / 2, vm.video.height)

                            resolve()
                        }

                        vm.video.el.currentTime += vm.ratio
                        if (i % FRAMES_PER_SEC === 0) k++
                    })
                }
            }

        },

        watch: {
            currentFrame: {
                handler(nv) {
                    if (this.isDisabled) return

                    const vm = this
                    TweenLite.killTweensOf(tweener)
                    TweenLite.to(tweener, .7, {
                        position: nv,
                        overwrite: false,
                        onUpdate: () => {
                            vm.frame = Math.ceil(tweener.position)
                        },
                        ease: Power0.easeNone
                    })
                }
            },
            frame(nv, ov) {
                if (nv !== ov) {
                    this.$emit('model:update-frame', nv)
                    this.computeFrame()
                }
            }
        },

        mounted() {
            const vm = this

            console.time()
            this.init()
            window.addEventListener('scroll', debounce(vm.getPageYOffset, 50), false)
        }
    }

    function execute(generator, cb) {
        let next = generator.next()

        if (!next.done) {
            next.value.then(
                () => execute(generator, cb),
                err => generator.throw(err)
            )
        } else {
            if (typeof cb === 'function') cb()
        }
    }

</script>

<style lang="scss">
    .model-item {
        /*position: absolute;*/
        top: 0;
        left: 0;
        border: 1px solid red;
    }
</style>