<template>
    <div>
        <video ref="video"
               @loadedmetadata="onLoadedmetadata"
               hidden
               @seeked="onPlay"
               @timeupdate="onTimeupdate"
               :src="videoSrc"
        ></video>
        <canvas ref="canvas" class="model-item"
                :width="canvas.width"
                :height="canvas.height"></canvas>
        <canvas ref="buffer" hidden :width="buffer.width"
                :height="buffer.height"></canvas>

    </div>
</template>

<script>
  import debounce from 'lodash/debounce'

  const playback = 1000

  export default {
    name: 'Model',

    props: {
      parentHeight: Number,
      videoSrc: String
    },

    data () {
      return {
        duration: null,

        windowYOffset: 0,
        speedKoef: 0,

        video: {
          el: null,
          width: 800,
          height: 800
        },

        canvas: {
          ctx: null,
          width: 800,
          height: 800
        },

        buffer: {
          ctx: null,
          width: 0,
          height: 0
        }
      }
    },

    computed: {
      currentTime () {
        const currentPosition = this.windowYOffset > this.parentHeight - this.video.height ? 1 : this.windowYOffset / (this.parentHeight - this.video.height)

        let time = this.duration * currentPosition
        return time < 0 ? 0 : time > this.duration ? this.duration : time
      }
    },

    methods: {
      init () {
        const { video, canvas, buffer } = this.$refs
        this.video.el = video
        this.canvas.ctx = canvas.getContext('2d')
        this.buffer.ctx = buffer.getContext('2d')

      },


      getPageYOffset () {
        this.windowYOffset = window.pageYOffset
      },

      onPlay({target}){
        this.computeFrame()
      },

      onLoadedmetadata ({ target }) {
        this.duration = target.duration
        this.video.width = target.videoWidth
        this.video.height = target.videoHeight
        this.buffer.width = target.videoWidth
        this.buffer.height = target.videoHeight
        this.video.el.currentTime = 0
      },

      onTimeupdate ({ target }) {
        this.computeFrame()
      },

      computeFrame () {
        if (!this.video.width) return

        this.buffer.ctx.drawImage(this.video.el, 0, 0)

        let image = this.buffer.ctx.getImageData(0, 0, this.video.width, this.video.height),
        alpha = this.buffer.ctx.getImageData(this.video.width / 2 + 1, 0, this.video.width, this.video.height)

        for ( let i = 3, len = image.data.length; i < len; i = i + 4 ) {
          image.data[ i ] = alpha.data[ i - 1 ]
        }
        this.canvas.ctx.clearRect(0, 0,  this.canvas.width,  this.canvas.height)
        this.canvas.ctx.putImageData(image, 0, 0, 0, 0, this.video.width / 2, this.video.height)
      }

    },

    watch: {
      windowYOffset (nv, ov) {
        this.speedKoef = Math.abs((nv - ov) / 100)
      },

      currentTime (nv) {

        if (this.tween) this.tween.kill()

        const currentTime = this.video.el.currentTime
        console.log('koe: ', this.speedKoef)

        const tween = { value: currentTime },
        vm = this

        this.tween = TweenLite.to(tween, 1, {
          value: nv,
          ease: Power0.easeNone,
          onUpdate () {
            let updatedTime = tween.value
            vm.video.el.currentTime = (updatedTime + 0.03) >= vm.duration ? vm.duration : updatedTime
          }
        })
      }
    },

    // beforeMount () {
    //   this.canvas.width = window.innerWidth
    //   this.canvas.height = window.innerHeight
    // },

    mounted () {
      this.init()
      // console.log(window.pageYOffset)
      const vm = this
      window.addEventListener('scroll', debounce(vm.getPageYOffset, 10), { passive: true })

      // let requestAnimation
      // const scrollSpy = () => {
      //   this.getCurrentPosition()
      //   requestAnimation = window.requestAnimationFrame(scrollSpy)
      // }
      //
      // window.requestAnimationFrame(scrollSpy)
      // this.$once('hook:beforeDestroy', () => window.cancelAnimationFrame(requestAnimation))
    }
  }
</script>

<style lang="scss">

</style>