.cbu{
    &-modal{
        overflow: auto;
        background: rgba(#000, .3);
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        justify-content: center;
        align-items: flex-start;
        display: flex;
        transition: opacity .3s ease-in;
        opacity: 0;

        $parent: &;

        &--show{
          opacity: 1;
        }

        &__wrapper{
            transition: opacity .15s 0.1s ease-in;
            opacity: 0;
            transform: scale(0) translateY(0);

            #{$parent}--show &{
                transition: opacity .15s 0.1s ease-in, transform .3s cubic-bezier(.93,.32,.9,1.37);
                opacity: 1;
                transform: scale(1) translateY(50px);
            }
        }

        &-content{
            width: 100%;
            background: tomato;
        }
    }



}